<div class="row">
    <div class="col-lg-4">
    <div class="input-group search-button">

      <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="searchValue">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="searchForName()">Go!</button>
      </span>
    </div>
  </div>
  <div class="col-lg-8  search-speech-list">


<ngb-accordion (panelChange)="beforeChange($event)" *ngIf="speeches.length != 0;else Noresults">
  <ngb-panel  title="{{speech.name}}" *ngFor="let speech of speeches">
    <ng-template ngbPanelContent>
      {{speech.text}}
    </ng-template>
  </ngb-panel>
  </ngb-accordion>

<ng-template #Noresults>No results found</ng-template>
  </div>
</div>
